.articles {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: $whiteColor;

    &__item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__icon {
        width: 100%;
        margin-bottom: 30px;
        background-color: $lightBackground2;
    }

    &__title {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }

    &__paragraph {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $lightTextColor;
    }
}

@media screen and (max-width: 480px) {
    .articles {
        display: flex;
        justify-content: center;
    }
}
