* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $defaultTextColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    max-width: 480px;
    padding: 0 15px;
    @include tablet {
        max-width: 738px;
        padding: 0;
    }
    @include desktop {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1200px;
    }
    &--services {
        display: none;
        margin: 0 auto;
        padding: 0 15px;
        @include desktop {
            display: block;
            max-width: 1200px;
        }
    }
}

.section {
    padding: 60px 0;
    @include desktop {
        padding: 94px 0;
    }

    &--services {
        @include desktop {
            display: block;
            padding: 94px 0;
        }
    }
}
