.clients {
    &__quote {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $defaultTextColor;
        @include desktop {
            padding-top: 0px;
        }
    }

    &__list {
        margin-top: 30px;
        gap: 30px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        border: 1px solid $svgIconColor;
        border-radius: 4px;
        @include desktop {
            width: 170px;
        }
    }

    &__list-icon {
        fill: $svgIconColor;
    }

    &__list-link:hover,
    &__list-link:focus {
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        border-color: $highlightColor;
        cursor: pointer;
    }

    &__list-link:hover > &__list-icon,
    &__list-link:focus > &__list-icon {
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        fill: $highlightColor;
    }
}
