.header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid $headerBorderColor;
    background-color: $whiteColor;
    height: 60px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        visibility: hidden;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        display: none;
    }
}

.menu-toggle {
    top: 20px;
    margin-left: 85%;
    visibility: visible;
    border: none;
    background-color: $whiteColor;
    position: absolute;

    &:focus,
    &:hover {
        color: $highlightColor;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    }
}

.logo {
    padding: 6px 0;
    display: flex;
    text-decoration: none;
    font-family: 'Raleway';
    width: fit-content;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $highlightColor;
    visibility: visible;

    &__studio--black {
        color: $blackColor;
    }
}
