.header {
    .container {
        &--header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    padding: 10px 0;
    border-bottom: 1px solid $headerBorderColor;
    background-color: $whiteColor;
    @include tablet {
        padding: 20px 0 20px;
    }
    @include desktop {
        padding: 20px 0 20px;
    }

    &__navigation {
        @include tablet {
            display: flex;
            align-items: center;
            margin-left: 83px;
        }
    }

    &__navigation-list {
        @include tablet {
            display: flex;
            align-items: center;
            gap: 60px;
            list-style: none;
        }
        @include desktop {
            gap: 46px;
        }
    }

    &__link {
        @include tablet {
            position: relative;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.2;
            color: $defaultTextColor;
        }
        &:focus,
        &:hover {
            transition-duration: 250ms;
            transition-timing-function: $transitionTimingFunction;
            color: $highlightColor;
        }
        &:hover::after,
        &:focus::after {
            content: ' ';
            position: absolute;
            top: 45px;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $menuHoverTransparent;
            @include tablet {
                top: 44px;
            }
        }
        &--active-link {
            color: $highlightColor;
        }
        &--active-link:not(:hover)::after,
        &--active-link:not(:focus)::after {
            content: ' ';
            position: absolute;
            top: 45px;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $highlightColor;
            @include tablet {
                top: 44px;
            }
        }
    }
    &__contacts {
        margin-left: 101px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
        @include desktop {
            margin-right: 12px;
            margin-left: 335px;
            gap: 30px;
        }
    }
    &__contacts-item {
        display: flex;
        flex-wrap: wrap;
    }

    &__contact-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
        fill: currentColor;
        color: $lightTextColor;
        @include desktop {
            font-size: 14px;
            line-height: 1.2px;
        }
    }

    &__contact-link:hover,
    &__contact-link:focus {
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        color: $highlightColor;
    }

    &__icon {
        width: 14px;
        height: 10px;
        margin-right: 8px;
        @include desktop {
            margin-right: 10px;
        }

        &--smartphone {
            width: 10px;
            height: 14px;
            margin-right: 8px;
        }
    }
}

.hide-on-mobiles {
    display: none;
    @include tablet {
        display: flex;
    }
}

.menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: $whiteColor;

    &:focus,
    &:hover {
        color: $highlightColor;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    }
    @include tablet {
        display: none;
    }
}

.logo {
    padding: 6px 0;
    display: flex;
    text-decoration: none;
    font-family: 'Raleway';
    width: fit-content;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $highlightColor;

    &__studio--black {
        color: $blackColor;
    }
    @include desktop {
        font-size: 26px;
    }
}
