.backdrop {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    inset: 0;
    background: $darkening;
    animation-name: modalAppear;
    transition-property: visibility, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: $transitionTimingFunction;
}

.modal {
    position: relative;
    height: fit-content;
    max-width: 450px;
    border-radius: 4px;
    background-color: $whiteColor;
    @include tablet {
        width: 450px;
    }
    @include desktop {
        width: 528px;
    }

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: $whiteColor;
        border: 1px solid $boxShadow5;
        border-radius: 50%;
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px auto 0px;
        width: 200px;
        height: 50px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $lightBackground2;
        background-color: $highlightColor;
        box-shadow: 0px 4px 4px $boxShadow1;
        border-radius: 4px;
    }

    &-form__label,
    &-textarea {
        width: 100%;
        font-size: 12px;
        line-height: 1.18;
        letter-spacing: 0.01em;
        color: $lightTextColor;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.field {
    position: relative;
    margin-top: 10px;

    &__label-input:focus {
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        cursor: pointer;
        border-color: $highlightColor;
        outline: none;
    }

    &__label-input:focus + .modal__icon {
        fill: $highlightColor;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        outline: none;
    }

    &-label {
        font-size: 12px;
        line-height: 1.18;
        letter-spacing: 0.01em;
        outline: none;
        color: $lightTextColor;
    }

    &__label-input {
        margin-top: 4px;
        padding: 9.5px 15px 9.5px 42px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $fieldBorder;
    }

    &-label__textarea {
        margin-top: 4px;
        padding: 12px 16px;
        height: 120px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $fieldBorder;
        resize: none;
    }

    &-label__textarea:focus {
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
        cursor: pointer;
        border-color: $highlightColor;
        outline: none;
    }
}

.custom-checkbox {
    min-width: 16px;
    height: 15px;
    border: $defaultTextColor 2px solid;
    border-radius: 2px;
    position: relative;

    &__img {
        position: absolute;
        opacity: 0;
        transition: opacity 250ms $transitionTimingFunction;
        top: -2px;
        left: -2px;
        border-radius: 2px;
    }
}

.form {
    padding: 40px;

    &__quote {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.13;
        text-align: center;
        letter-spacing: 0.03em;
        color: $defaultTextColor;
    }

    &-licence-acceptation {
        position: relative;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    &-licence-acceptation__hidden-checkbox {
        position: absolute;
        width: 16px;
        height: 15px;
        display: none;
    }

    &-licence-acceptation__hidden-checkbox:checked + .custom-checkbox > .custom-checkbox__img {
        opacity: 1;
    }

    &-licence-acceptation__licence-acceptation-text {
        margin-left: 8px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $lightTextColor;
    }

    &-licence-acceptation__link {
        color: $highlightColor;
    }
}

@keyframes modalAppear {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
